{% extends "base.html" %}
{% block title %}xyz.store | Checkout {% endblock %}
{% block content %}
<div class="col-lg-8 checkout-construction-div">
  <img class="checkout-construction-div-illustration" src="" alt="Site in development image" />
  <h2>The payment processing gateway in under development.</h2>
  <p>Checkout and payment is been refactored to provide you with a seamless shopping experience.</p>
  <p>Nothing happens to your cart. No need to do anything. Everything will be setup properly soonest.</p>
  <p>Sorry for any inconvinience. Meanwhile...</p>
  <a href="{{ url_for('home') }}">Keep Shopping <i class="fa-solid fa-cart-shopping"></i></a>
</div>
{% endblock %}